/* GENERAL */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-size: 32px;
    font-weight: normal;
}

p{
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

/* Header */

header{
    display: flex;
    min-height: 12vh;
    border-bottom: 1vh solid #E6EFF6;
    background-color: #FFFEFE;
    position: fixed;
    width: 100%;
}
.seheader1{
    width: 25%;
    text-align: center;
    padding: 2vh 0 1vh 5%;

}
.seheader2{
    display: flex;
    width: 50%;
    text-align: center;
    padding-left: 10%;
    padding-top: 5vh;
}
.seheader3{
    width: 25%;
    text-align: center;
    padding-right: 5%;
    padding-top: 5vh;
}
.menuheader{
    padding: 0 5%;
}
.menuheader a {
    color: #1079C8;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.menuheader a:hover {
    text-decoration: underline;
}
.seheader3 a {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #84BE96;
    color : #84BE96;
    text-decoration: none;
    padding: 4%;
    border-radius: 40px;
}
.seheader3 a:hover{
    background-color: #84BE96;
    color: white;
}

/* FOOTER */

footer{
    border-top: 1vh solid #E6EFF6;
    display: flex ;
    background-color: #224B6A;
    min-height: 50vh;
    color: white;
}
footer h4{
    padding: 8vh 0 6vh 0;
}
.sefooter1{
    width: 30%;
    padding-left: 10%;
}
.sefooter1 ul {
    list-style-type:none;
}
.sefooter1 ul li{
    margin-bottom: 2vh;
}
.sefooter1 ul a{
    color: white;
    text-decoration: none;
}
.sefooter1 ul a:hover{
    color: white;
    text-decoration: underline;
}
.sefooter2{
    width: 30%;
    list-style-type:none;
}
.sefooter2 ul {
    list-style-type:none;
}
.sefooter2 ul li{
    display: flex;
    margin-bottom: 4vh;
    width: 100%;
}
.sefooter2 ul li a{
    color: white;
    text-decoration: none;
    margin-left: 0%;
}
.divlistfoot2{
    margin-left: 4%;
}
.sefooter3{
    width: 40%;
    text-align: center;
    padding-right: 10%;
    padding-top: 15vh;
}

/* INDEX.HTML */

/* SE1 */
.se1{
    padding-top: 15vh;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/accueil/image-pageaccueil-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.se1-content{
    width: 50%;
    padding: 0 10%;
    padding-top: 35vh;
}
.se1 h1{
    font-size: 48px;
    font-weight: bold;
}
.se1 p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 4vh;
}
.se1-button{
    margin-top: 8vh;
}
.se1-button1{
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #FDCB5D;
    color : #FDCB5D;
    text-decoration: none;
    padding: 2vh 5%;
    border-radius: 40px;
}
.se1-button1:hover{
    background-color: #FDCB5D;
    color: white;
}
.se1-button2{
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #84BE96;
    color : #84BE96;
    text-decoration: none;
    padding: 2vh 5% ;
    border-radius: 40px;
    margin-left: 10%;
}
.se1-button2:hover{
    background-color: #84BE96;
    color: white;
}


/* SECTION 2 */
.se2{
    min-height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/accueil/image-pageaccueil-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    
}
.se2-content {
    width: 50%;
    padding: 10vh 5% 0 10%;
}
.se2-button{
    margin-top: 10vh;
}

.se2-content a {
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #FDCB5D;
    color : #FDCB5D;
    text-decoration: none;
    padding: 2vh 5%;
    border-radius: 40px;
}
.se2-content li{
    list-style: none;
    font-size: 20px;
    padding-top: 2vh;
}
.se2-content span{
    font-weight: bold;
    margin-right: 5%;
    font-size: 26px;
}

.se2-content-span1 {
    color: #FDCB5D;
}
.se2-content-span2 {
    color: #84BE96;
}
.se2-content-span3 {
    color: #1079C8;
}

.se2-content a:hover{
    background-color: #FDCB5D;
    color: white;
}
.se2-map{
    width: 50%;
    padding: 15vh 10% 0 5%;
}


/* SECTION 3 */
.se3{
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/accueil/image-pageaccueil-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* SECTION 4 */
.se4{
    min-height: 75vh;
    color: black;
}

.se4-content{
    padding: 5vh 10%;
}
.se4-articles{
    display: flex;
    width: 100%;
    margin-top: 7vh;
}
.se4-articles div{
    width: 20%;
}
.se4-articles p{
    max-width: 70%;
    text-align: center;
    font-size: 16px;
}
.se4-button{
    margin-top: 12vh;
}
.se4-button a{
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #FDCB5D;
    color : #FDCB5D;
    text-decoration: none;
    padding: 2vh 3%;
    border-radius: 40px;
}
.se4-button a:hover{
    background-color: #FDCB5D;
    color: white;
}


/* SECTION 5 */
.se5{
    min-height: 85vh;
    color: black;
    background-color: #E6EFF6;
}

.se5-content{
    padding: 10vh 10%;
}
.se5-articles{
    display: flex;
    width: 100%;
    margin-top: 7vh;
}
.se5-articles div{
    width: 20%;
}
.se5-articles p{
    max-width: 70%;
    text-align: center;
    font-size: 16px;
}
.se5-button{
    margin-top: 12vh;
}
.se5-button a{
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #FDCB5D;
    color : #FDCB5D;
    text-decoration: none;
    padding: 2vh 3%;
    border-radius: 40px;
}
.se5-button a:hover{
    background-color: #FDCB5D;
    color: white;
}

.se5-testimonies{
    display: flex;
    margin-top: 5vh;
}
.se5-testimonies-images{
    max-width:20%;
    margin-right: 5%;
}
.se5-testimonies-text{
    max-width: 65%;
}
.se5-testimonies-name{
    font-weight: bold;
    font-size: 20px;
}
.se5-testimonies-citation{
    font-weight: bold;
    font-size: 20px;
    padding: 4vh 0;
}
.se5-separate{
    display: flex;
    margin: 5vh 0;
}
.se5-line{
    width: 30%;
    padding-top: 2vh;
}
.se5-interline{
    width: 10%;
}
.se5-interline p{
    text-align: center;
}

/* CALENDAR - SECTION 6 */
.se6{
    min-height: 85vh;
    color: black;
}

.se6-content{
    padding: 10vh 10% 0 10%;
    min-height: 25vh;
}
.se6-infos{
    min-height: 60vh;
}
.social-media-bottom{
    display: flex;
    padding-left: 35%;
    text-align: center;   
}
.social-media-bottom div{
    width: 10%;
    margin : 1vh 3%;

}


/* BLOG.HTML */

.blog-header{
    border-bottom: 1vh solid  #FDCB5D;
}
